<app-nav-patient></app-nav-patient>
<div class="container">
    <div class="row">
        <div>
            <h1>Patient List Table</h1>
            <p>This table contains all information about patients </p>
            <table class="table">
                <thead>
                    <tr>
                        <th> </th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                        <th>Date of consultation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><img src="../../assets/img/patientPic.png" alt="patientPicture" height="42" width="42"></td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td><input type="date" class="myPatientDate" disabled=true></td>
                        <td>
                            <!---------------------------------------->
                            <form action="#" method="post">
                                <div style="display: flex">
                                    <div><a href="#" class="btn btn-primary">Details</a></div>
                                    <div><a href="#" class="btn btn-default">Editer</a></div>
                                    <div><button type="submit" class="btn btn-danger">Supprimer</button></div>
                                </div>
                            </form>
                            <!----------------------------------------->
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/img/patientPic.png" alt="patientPicture" height="42" width="42"></td>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td><input type="date" class="myPatientDate" disabled=true></td>
                        <td>
                            <!---------------------------------------->
                            <form action="#" method="post">
                                <div style="display: flex">
                                    <div><a href="#" class="btn btn-primary">Details</a></div>
                                    <div><a href="#" class="btn btn-default">Editer</a></div>
                                    <div><button type="submit" class="btn btn-danger">Supprimer</button></div>
                                </div>
                            </form>
                            <!----------------------------------------->
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/img/patientPic.png" alt="patientPicture" height="42" width="42"></td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td><input type="date" class="myPatientDate" disabled=true></td>
                        <td>
                            <!---------------------------------------->
                            <form action="#" method="post">
                                <div style="display: flex">
                                    <div><a href="#" class="btn btn-primary">Details</a></div>
                                    <div><a href="#" class="btn btn-default">Editer</a></div>
                                    <div><button type="submit" class="btn btn-danger">Supprimer</button></div>
                                </div>
                            </form>
                            <!----------------------------------------->
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/img/patientPic.png" alt="patientPicture" height="42" width="42"></td>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td><input type="date" class="myPatientDate" disabled=true></td>
                        <td>
                            <!---------------------------------------->
                            <form action="#" method="post">
                                <div style="display: flex">
                                    <div><a href="#" class="btn btn-primary">Details</a></div>
                                    <div><a href="#" class="btn btn-default">Editer</a></div>
                                    <div><button type="submit" class="btn btn-danger">Supprimer</button></div>
                                </div>
                            </form>
                            <!----------------------------------------->
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/img/patientPic.png" alt="patientPicture" height="42" width="42"></td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td><input type="date" class="myPatientDate" disabled=true></td>
                        <td>
                            <!---------------------------------------->
                            <form action="#" method="post">
                                <div style="display: flex">
                                    <div><a href="#" class="btn btn-primary">Details</a></div>
                                    <div><a href="#" class="btn btn-default">Editer</a></div>
                                    <div><button type="submit" class="btn btn-danger">Supprimer</button></div>
                                </div>
                            </form>
                            <!----------------------------------------->
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/img/patientPic.png" alt="patientPicture" height="42" width="42"></td>
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                        <td><input type="date" class="myPatientDate" disabled=true></td>
                        <td>
                            <!---------------------------------------->
                            <form action="#" method="post">
                                <div style="display: flex">
                                    <div><a href="#" class="btn btn-primary">Details</a></div>
                                    <div><a href="#" class="btn btn-default">Editer</a></div>
                                    <div><button type="submit" class="btn btn-danger">Supprimer</button></div>
                                </div>
                            </form>
                            <!----------------------------------------->
                        </td>
                    </tr>
                    <tr>
                        <td><img src="../../assets/img/patientPic.png" alt="patientPicture" height="42" width="42"></td>
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                        <td><input type="date" class="myPatientDate" disabled=true></td>
                        <td>
                            <!---------------------------------------->
                            <form action="#" method="post">
                                <div style="display: flex">
                                    <div><a href="#" class="btn btn-primary">Details</a></div>
                                    <div><a href="#" class="btn btn-default">Editer</a></div>
                                    <div><button type="submit" class="btn btn-danger">Supprimer</button></div>
                                </div>
                            </form>
                            <!----------------------------------------->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>